@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.5rem;
}

h1,
h2,
h3 {
    letter-spacing: .05rem;
}

code {
    color: rgb(255, 255, 127);
}

p {
    letter-spacing: .05rem;
}

.main {
    width: 100%;
    min-height: 110vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 200px;
    padding-bottom: 50px;
    background-color: #202123;
    color: white;
}

.nav {
    width: 100%;
    height: 53px;
    z-index: 101;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-between;
    color: rgb(206, 206, 206);
    background-color: rgb(60, 62, 73, .8);
    backdrop-filter: blur(3px);
}

.AsideNav {
    width: 250px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    left: 0;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    padding: 10px;
    gap: 20px;
}

.AsideNav h3 {
    padding: 20px;
    font-weight: 400;
    color: #cfcfcf;
    background-color: #202123;
    letter-spacing: .05rem;
    border-radius: 5px;
}

.asideLinks {
    flex-direction: column;
    gap: 10px;
}

.AsideLinkH3 {
    color: #cfcfcf;
}

.asideLinks span {
    height: 30px;
    width: 100%;
    overflow: hidden;
    padding: 5px 2px;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.asideLinks span:hover {
    background-color: #b8b8b8;
}

.codebox {
    background-color: black;
    color: white;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    margin: 20px 0px;
    border-radius: 20px;
}

.AsideNav .linkContainer.active {
    background-color: #9a9a9a;
}

.socialLinks {
    gap: 20px;
    flex-wrap: wrap;
}

.socialLinks a {
    padding: 5px;
    color: white;
    background-color: lightcoral;
    transition: all .2s ease-out;
    border-radius: 3px;
}

.socialLinks a:hover {
    background-color: black;
}

.crossAside {
    display: flex;
    position: fixed;
    top: 60px;
    left: 260px;
    color: rgb(215, 215, 215);
    font-size: 2rem;
}